@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
/**reset css **/
body {
 font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}
* {
  box-sizing: border-box;
}
.full{
    float: left;
    width: 100%;
}

.hashtag-btn {
  background: #fc4111;
  color: #fff;
  padding: 6px 20px;
  border-radius: 0;
  border: 1px solid #fc4111;
  text-transform: uppercase;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  white-space: normal; }
  .hashtag-btn:hover {
    border: 1px solid #fc4111;
    color: #fff;
    background: #fff;
    color: #fc4111;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s; }
  .hashtag-btn:hover, .hashtag-btn:active, .hashtag-btn:focus {
    outline: none; }

.ht-red {
  color: red; }

.base-css, *, body {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  background-color: #fff;
  font-size: 14px ;
    font-family: 'Ubuntu', sans-serif;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0px;
  line-height: 20px;
  font-weight: 400; }

p {
  font-size: 20px; line-height: 32px;
font-family: 'Ubuntu', sans-serif;}

.bold-text {
  font-family: 'Ubuntu', sans-serif;}

a {
  text-decoration: none;
  outline: none;
  color: #333333;
  cursor: pointer;font-size: 20px;color: #ff3d00;
  /*font: $fsize  $lator;*/ }

a:hover {
  text-decoration: none;
  outline: none;
  color: #000; }

a:focus {
  text-decoration: none;
  outline: none;
  color: #000; }

.trans, a, button, li {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.transhover, a:hover, a:active, a:focus, button:hover, li:hover {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

a, button, li {
  font-size: 20px; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

h1 {
  font-size: 48px;
  color: #333333;
 font-family: 'Ubuntu', sans-serif;
  font-weight: 300;line-height: 45px; }
 

h2 {
  font-size: 46px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  line-height: 35px; }
 

h3 {
  font-size: 28px;
font-family: 'Ubuntu', sans-serif; }
 

h4 {
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif; }


.tbl {
  display: table; }

.tbl-cell {
  display: table-cell; }

.res13 {
  display: block;
  width: 100%; }

.res19 {
  display: none;
  width: 100%; }

.fa {
  font-size: 16px;
  color: #333333; }

.fa:hover {
  color: #000; }

.img-zoom {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s; }

.transition {
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.img-center {
  float: left;
  width: auto;
  height: auto;
  min-height: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%; }

form label {
  font-size: 14px;
  text-transform: capitalize; }
form input {
  font-size: 14px;
  text-transform: capitalize; }
form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 0.8;
  font: 14px "Open Sans", sans-serif; }
form ::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0.8;
  font: 15px "Open Sans", sans-serif; }
form :-ms-input-placeholder {
  /* IE 10+ */
  opacity: 0.8;
  font: 14px "Open Sans", sans-serif; }
form :-moz-placeholder {
  /* Firefox 18- */
  opacity: 0.8;
  font: 14px "Open Sans", sans-serif; }
.no-padding{
    padding: 0;
}
.no-mar{
    margin: 0;
}
.no-padding-left{
    padding-left: 0;
}
.no-padding-right{
    padding-right: 0;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.container{
    width: 1170px;margin: 0 auto;
    -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; 
    -moz-transition : all 0.2s ease-in;
}
.container-fluid{
    padding: 0px 15px;
}

/**menu header **/


nav {
  padding: 0px 0px;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  float: left;
}
nav ul li:not(:first-child) {
  margin-left: 25px;
}
nav ul li a {
  display: inline-block;
  outline: none;
  color: #1f2227;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.04em;
}
nav ul li a:hover {
  color: #808080;
  text-decoration: none;
}
/*@media screen and (max-width: 767px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1f2227;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #1f2227;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
}*/
#nav:checked + .nav-open {
  transform: rotate(45deg);
}
#nav:checked + .nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}
#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
}
#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}
.hidden {
  display: none;
}
.up-inner{
    display: flex;
    align-items: center;
}

.up-inner .up-left{
    float: left;
    width: 50%;
    text-align: left;
}
.up-inner .up-right{
    float: left;
    width: 50%;
    text-align: rightl;
}
.contact-list{
    float: left;
}
.contact-list li span{
    display: inline-block;font-size: 16px;
}
.contact-list li .cn-list-img{
    margin-right: 5px;
}
.main-hd-up{
    padding: 20px 0px;
    border-bottom: 1px solid #ddd;
}
.main-hd{
    padding: 20px 0px;
}
.btn{
    border: 2px solid #fc4111;
    display: block;
    border-radius: 4px ;
    padding: 6px 20px;
    font-size: 14px;
}
.log-list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.log-list li{
    display: inline-block;
   
}

main-hd-inner{
    
}
.main-hd-left{
    float: left;width: 50%;
}
.main-hd-right{
    float: left;width: 50%;
}
.main-hd-left .logo{
    display: flex;
    align-items: flex-end;
}
.main-hd-left .logo span{
    display: inline-block;
}
.main-hd-left .logo .imgdiv{
    display: inline-block;
    padding: 3px 10px;
    border: 2px solid #ddd;
    margin-right: 10px;
}
.textdiv-all:nth-child(1){
    font-weight: 600;
    display: block !important;
}
.textdiv-all:nth-child(2){
    font-weight: 900;
    font-size: 22px;
}
.fourdot{
    float: right;
    line-height: 10px;
}
.fourdot span{
    display: inline-block;
    margin-right: 1px;
    width: 5px;
    height: 5px;
    background: #ddd;
    border-radius: 100%;
}
.fourdot span:nth-child(1){
    background: #005abc;
}
.fourdot span:nth-child(2){
    background: #f6c522;
}
.fourdot span:nth-child(3){
    background: #e65e06;
}
.fourdot span:nth-child(4){
    background: #e20000;
}
.logo-main{
    position: relative;
    display: inline-block;
}
.nav-container ul li a{
    position: relative;
}
.nav-container ul li a.active, .nav-container ul li a:hover{
    color:#ff3d00;
}
.nav-container ul li a.active:before, .nav-container ul li a:hover:before{
    content: "";
    position: absolute;
    height: 4px;
    width: 25px;
    left: 0;
    bottom: -7px;
    background: #ff3d00;
    border-radius: 10px;
}

/**main site **/
.block-container{
    width: 865px;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 1s ease-in;-moz-transition: all 1s ease-in;
  transition: all 1s ease-in;
}


/** banner **/
.main-banner{
    background: #f2f2f2;
    text-align: center;
    padding: 125px 0px 100px 0px;
    position: relative;
}
.main-banner-text{
    width: 865px;
    margin: 0 auto;
    text-align: left;
    -webkit-transition: all 1s ease-in;-moz-transition: all 1s ease-in;
  transition: all 1s ease-in;

}
.main-banner-text h1{
    font-weight: 900;
    margin-bottom: 20px;
    font-size: 40px;
}
.main-banner-text p{
    font-size: 22px;
    font-weight: 900;
    line-height: 32px;
}
.main-banner .sml-img{
    position: absolute;
    right: 50px;
    bottom: -10px;
}
.main-banner-text .btn-div{
    margin-top: 40px;
}
.main-banner-text .btn-div .btn{
    width: 200px;
    border-radius: 0px;
    padding: 10px 10px;
    
}
.main-banner .sml-img img{
    width: 130px;
}
/**date strip**/
.date-strip{
    background: #2f2f2f;
    padding: 15px 0px;
}
.date-strip-inner .date-list li{
    display: inline-flex;
    color: #fff;
    position: relative;
    padding: 0px 20px;
    align-items: center;
}
.date-strip-inner .date-list li:nth-child(1){
    padding-left: 0;
}
.date-strip-inner .date-list li:last-child:after{
   display: none;
}
.date-strip-inner .date-list li:after{
    position: absolute;
    content: "|";
    color: #fff;
    right: -10px;
    top: -2px;
    font-size: 25px;
}
.date-strip-inner .date-list li .text{
    font-size: 18px;margin-right: 25px;
}
.date-strip-inner .date-list li .date{
    font-size: 22px;
}
.sec-all{
    padding: 75px 0px 65px 0px;
}
.sec-all .all-sec-hd h2{
    margin-bottom: 40px;
    text-align: center;
}
.sec-all .all-sec-hd p{
    text-align: center;
}
.sec1{
    background: #f4f6f8;
}
.sec-main-block p{
    line-height: 32px;
}
.sec-main-block p:first-child{
    margin-bottom: 30px;
}

/**levels **/
.b-tab {
  padding: 20px;
 float: left;
    width: 100%;
  display: none;
}

.b-tab.active {
  display: block;
}
.nav-container ul li a.active, .nav-container ul li a:hover{
    color:#ff3d00;
}
.nav-container ul li a.active:before, .nav-container ul li a:hover:before{
    content: "";
    position: absolute;
    height: 4px;
    width: 25px;
    left: 0;
    bottom: -7px;
    background: #ff3d00;
    border-radius: 10px;
}
.b-nav-tab {
  display: inline-block;
  padding: 0px 30px;
    font-size: 24px;
    color:#ff3d00;
    position: relative;
}

.b-nav-tab.active {
  color: #3b3a3a;
    font-weight: 800;
}
.b-nav-tab.active:before{
    content: "";
    position: absolute;
    height: 4px;
    width: 25px;
    left: 30px;
    bottom: -7px;
    background: #ff3d00;
    border-radius: 10px;
}
.level-tab-main{
    text-align: center;
    margin-bottom: 20px;
}
.info-list-block .left{
    width: 300px;
}
.info-list-block .left p{
    font-weight: 900;
    color: #000;
}
.price-block{
    background: #fbeeaa;
    padding: 25px 40px;
    position: relative;
}
.price-block:before{
    content: "";
    position: absolute;
border-top: 68px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 60px solid #fbeeaa;
    left: -50px;
    top: 20px;z-index: -3;
    
}
.price-block:after{
    content: "";
    position: absolute;
    border-top: 48px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 90px solid #fff;
    left: -50px;
    top: 40px;
    z-index: -1;
    
}
.level-tab-block .info-text{
    margin-bottom: 30px;
}
.info-list-block .right p {
    margin-bottom: 10px;
}
.info-list-block .right .sylab-text{
    margin-bottom: 30px;display: block;

}
.info-list-col{
    margin-bottom: 25px;
}
.price-block span, .price-block p{
    font-size: 22px;
}
.original-price p span:first-child{
    font-weight: 800;
}
.cancel-price{
    margin-bottom: 15px;
}
.original-price p:first-child{
    margin-bottom: 20px;
}
.info-list-block .right .btn-div .btn{
    width: 200px;
    border-radius: 0px;
    padding: 10px 10px;
}
.info-list-block .right .btn-div{
    margin-top: 45px;
}

/**slider***/
/*
essential styles:
these make the slideshow work
*/
#slides{
	position: relative;
	height: 375px;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.slide{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.showing{
	opacity: 1;
	z-index: 2;
}


.controls{
	display: none;
}


/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide{
	font-size: 40px;
/*	padding: 40px;*/
	box-sizing: border-box;
	background: #fff;
	color: #333;
  
  background-size: cover;
}

/* http://unrestrictedstock.com/wp-content/uploads/snowy-winter-vignette-bokeh-night-snow-falling-free-stock-photo.jpg */
.slide:nth-of-type(1){
/*
	background-color: red;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/snowy-winter-vignette-bokeh-night-snow-falling-free-stock-photo.jpg');
*/
}

/* http://www.dawghousedesignstudio.com/wp-content/uploads/2010/01/25/free-stock-photos-1.jpg */
.slide:nth-of-type(2){
/*
	background-color: orange;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/free-stock-photos-1.jpg');
*/
}

/* http://www.stockfreeimages.com/static/homepage/waterfall-free-stock-photo-244915.jpg */
.slide:nth-of-type(3){
/*
	background-color: green;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/waterfall-free-stock-photo-244915.jpg');
*/
}

.controls{
  background: transparent;
  color: #fff;
  border: none;
  padding: 20px 0px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  margin: 10px 0px 0px 10px;
  width: 70px;
    outline: none !important;
}

.controls:hover,
.controls:focus{
/*
  background: #eee;
  color: #333;
*/
}

.container{
  position: relative;
}

.buttons{
  position: absolute;
  left: 0px;
  top: 33%;
  z-index: 10;
  font-size: 0px;
    right: 0;
}
.buttons .controls:first-child{
    position: absolute;
    left: -100px;
}
.buttons .controls:nth-child(2){
    display: none !important;
}
.buttons .controls:last-child{
    position: absolute;
    right: -100px;
}
.testi-main{
    position: relative;
    margin-top: 55px;
}
.sec3{
    background:#f4f6f8;
    padding: 100px 0px 125px 0px; 
}
.testi-main-block .testi-main-left {
    background: #f7f7f7;
    width: 150px;
    vertical-align: top;
     height: 100%;   
    position: relative;
}
.testi-main-block .testi-main-left .left-block{
    position: absolute;
    bottom: 50px;
    right: -25px;
}
.testi-main-block .testi-main-right {
    
   padding-left: 20px;
    vertical-align: top;
     height: 100%;  
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
     padding: 40px 30px 30px 40px;
}
.testi-main-block .testi-main-right .user-info{
   
}
.testi-main-block .testi-main-right .user-info p.text{
    margin-bottom: 30px; padding-right: 160px;position: relative
}
.testi-main-slide{
    height: 100%;
}
.testi-main-block {
    height: 100%;
    box-shadow: 0px 1px 10px -2px #bfbdbd;
   
}
.testi-main-block .testi-main-right .user-info .name .post{
    padding-bottom: 15px ;
    border-bottom: 1px solid #666;
}
.testi-main-block .testi-main-right .user-info .name .cert{
    padding-top: 15px;
    font-style: italic;
}
.certuser-list-col{
    float: left;width: 25%;padding: 0px 15px;margin-bottom: 45px;
}
.certuser-list{
    margin-top: 60px;
}
.certuser-block{
    border: 1px solid #ddd;
    background: url('../img/blocks-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 40px 30px 25px 30px;
}
.certuser-img{
    width: 93px;
    height: 135px;
    overflow: hidden;
    position: relative;
    border: 2px solid #000;
    margin-bottom: 40px;
}
.certuser-img img{
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.certuser-info .name{
    font-size: 16px;
}
.certuser-info .post , .certuser-info .cert{
    font-size: 14px;
    line-height: 20px;
}
.certuser-info .post{
    padding-bottom: 15px;
    border-bottom: 1px solid #666;
}
.certuser-info .cert{
    padding-top: 15px;
    font-size: 13px;
}
.block-container.cert-container{
    width: 900px;
}

footer{
    background: #f2f2f2;
}
footer p, footer a{
    font-size: 16px;
}
.footer-up{
    text-align: center;
    padding: 25px 0px 35px 0px;
    border-bottom: 1px solid #fff;
}
.footer-up p{
    margin-bottom: 10px;
}
.social-icn-list{
    display: inline-block;
    
}
.social-icn-list li{
    display: inline-block;
    padding: 0px 7px;
}
.footer-down{
    padding: 40px 0px 45px 0px;
}
.cc-div-block .cc-div-left{
    width: 120px;
    font-weight: 800;
}
.cc-div-block .cc-div-right{
    padding-left: 20px;
}
.cc-div-block .cc-div-right ul li{
    display: inline-block;
    padding: 0px 10px;
    
}
.cc-div-block .cc-div-right ul li a{
    color: #333;
}
.cc-div-block .cc-div-left .fourdot{
    margin-top: -6px;line-height: 10px;
}

.cc-div-block .cc-div-left .fourdot span {
    margin-right: 1px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
}
.mainfordot{
    display: inline-block;
}
.cc-div{
    margin-bottom: 15px;
}
mainfordot p{
    margin-bottom: 0;
}
.code-div .left{
    float: left;width: 65%;
}
.code-div .right{
    float: left;width: 35%;
    display: flex;
    align-items: center;    margin-top: 6px;justify-content: flex-end;
}
.code-div .right .pay-text{
    margin-right: 10px;
}
.log-list a{
    font-size: 14px;
}
.quote{
    font-size: 65px;
    color: #d9d8d8;
    line-height: 0;
    margin-left: -28px;
    margin-bottom: -20px;
    height: 0;
    position: absolute;
    top: 23px;
}
.cc-div-block .cc-div-right ul li a.active{
    color: #fc4111;
}
